html {
    height: 100%;
}

body {
    background: url('/media/homepage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* Ensure the navbar items are centered */
.navbar-nav {
    justify-content: center;
    /* Centers items inside the ul */
    flex-grow: 1;
}

.nav-item {
    text-align: center;
}

.navbar-collapse {
    justify-content: center;
    /* Ensure the collapse aligns content centrally */
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.custom-h1 {
    color: black;
    /* Main text color */
    text-shadow:
        -2px -2px 0 white,
        /* Top-left shadow */
        2px -2px 0 white,
        /* Top-right shadow */
        -2px 2px 0 white,
        /* Bottom-left shadow */
        2px 2px 0 white;
    /* Bottom-right shadow */
}

.custom-shop-button {
    background-color: white;
    border: 2px solid black;
    font-weight: 600;
    padding: 10px;
}

.event-header {
    margin-top: 1rem !important;
}

.banner-detail {
    margin-bottom: 5%;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background: #000 !important;
}

.btt-link {
    cursor: pointer;
}

.event_link {
    color: black;
    text-decoration: none;
}

.back-to-top {
    margin-top: 1%;
}

.book-button {
    margin-bottom: 1%;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}